= form_with url: login_path, scope: :user do |form|
  %label{for: "email"}
    Email
  = form.email_field :email, required: true
  %label{for: "password"}
    Password
  = form.password_field :password, required: true
  = form.submit "Sign In"
